3D print files/~$Bill of Material quantum dice.xlsx
Arduino/QuantumDiceInitTool/build/esp32.esp32.esp32s3/QuantumDiceInitTool.ino.partitions.bin
Arduino/QuantumDiceInitTool/build/esp32.esp32.esp32s3/QuantumDiceInitTool.ino.merged.bin
Arduino/QuantumDiceInitTool/build/esp32.esp32.esp32s3/QuantumDiceInitTool.ino.map
Arduino/QuantumDiceInitTool/build/esp32.esp32.esp32s3/QuantumDiceInitTool.ino.elf
Arduino/QuantumDiceInitTool/build/esp32.esp32.esp32s3/QuantumDiceInitTool.ino.bootloader.bin
Arduino/QuantumDiceInitTool/build/esp32.esp32.esp32s3/QuantumDiceInitTool.ino.bin
